<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Permiso de cámara para capturar documentos (DNI/pasaporte) durante check-in -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- WRITE_EXTERNAL_STORAGE solo para Android 9 y anteriores (API 28-) -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28" />

    <!-- camera_android_camerax declara RECORD_AUDIO para su modo de grabación de vídeo.
         Solo tomamos fotos (takePicture con enableAudio: false), así que lo eliminamos
         del manifest fusionado para no pedir un permiso peligroso que no usamos. -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" tools:node="remove" />

    <!-- NOTA: No declaramos READ_MEDIA_IMAGES porque usamos el Photo Picker de Android
         para selección de imágenes desde galería. El Photo Picker NO requiere permisos
         de runtime en Android 13+ (API 33+).
         READ_EXTERNAL_STORAGE lo inyecta AGP implícitamente (sin maxSdkVersion) al
         declarar WRITE_EXTERNAL_STORAGE, así que lo acotamos a API 32-. -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" tools:node="replace" />

    <!-- Permisos para notificaciones FCM -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- Features de cámara requeridas -->
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />

    <application
        android:label="BF Stay"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:usesCleartextTraffic="true">
        <!-- URLs requeridas para Google Play -->
        <meta-data
            android:name="android.app.lib_name"
            android:value="" />

        <!-- Firebase Messaging Default Notification Channel -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="bf_stay_channel" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_name"
            android:value="BF Stay Notificaciones" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>

        <!-- WhatsApp & WhatsApp Business - necesarios en Android 11+ (API 30+) -->
        <package android:name="com.whatsapp" />
        <package android:name="com.whatsapp.w4b" />

        <!-- Esquema whatsapp:// para url_launcher -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="whatsapp" />
        </intent>

        <!-- Esquema https://wa.me para url_launcher -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" android:host="wa.me" />
        </intent>
    </queries>
</manifest>
